/*-------------------------------------------*/
@media only screen and (max-width: 769px) {
  .flxGroup .input__wrap {
    margin-bottom: 30px;
  }
}
/*-------------------------------------------*/
@media only screen and (max-width: 450px) {
  body {
    padding-bottom: 50px;
  }
  .enter {
    padding: 0 20px;
    top: 30vh;
    transform: translateX(-50%) translateY(0%);
  }
  header.headerPage .wrap {
    display: block;
  }
  .header__item:first-child {
    margin-bottom: 30px;
  }
  .header__name {
    width: 100%;
  }
  .nav {
    padding: 0 10px;
  }
  .nav a {
    font-size: 13px;
  }
  .flxGroup .input__wrap {
    width: 100%;
    max-width: 100%;
  }
  .flxGroup .btn {
    max-width: 100%;
  }
  .frame {
    min-height: 300px;
  }
  .enterStatic {
    width: 100%;
    transform: translateX(0%) translateY(0%);
  }
}
