
@import "base.less";
/*-------------------END BASE STYLE----------------------------------*/
@import "fonts.less";
/*-------------------END FONTS STYLE---------------------------------*/

/*!!!!!!!!!!!!!!!!!!!STYLE CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body {
	position: relative;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
}
.wrap {
	max-width: 1280px;
	margin: auto;
	padding:0 3.9%;
}
/*------------------END BODY && WRAP BASE STYLE------------------------------*/
header {
	text-align: center;
	padding-top: 20px;
	&.headerPage {
		.wrap {
			.flex(space-between);
		}
	}
}
main {
	position: relative;
}
/*-------------------END HEADER--------------------------------------*/

.enter {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
	width: 376px;
	h2 {
		margin-bottom: 50px;
		font-size: 20px;
		font-weight: normal;
		color:#363636;
		text-align: center;
		text-transform: uppercase;
	}
	p {
		display:none;
		font-size: 14px;
		line-height: 1.57;
		color:#717171;
		&.topP {
			margin: -20px 0 35px;
		}
		&.bootomP {
			max-width: 290px;
			margin: 30px auto 0;
			text-align: center;
		}
		&.active {
			display: block;
		}
		a {
			color:#0690C8;
			text-decoration: underline;
		}
	}
	.input__wrap {
		position: relative;
		margin-bottom: 30px;
		label.error {
			display: none;
			position: absolute;
			left: 0;
			bottom:-15px;
			color:#940000;
			font-size: 12px;
		}
		label.change{
			display: none;
			position: absolute;
			left: 10px;
			top:-5px;
			background:#fff;
			color:#83BE19;
			font-size: 12px;
		}
		label.sucses {
			display: none;
			position: absolute;
			left: 10px;
			top:-5px;
			background:#fff;
			color:#8BBCDC;
			font-size: 12px;
		}
		&.error {
			input {
				border:1px solid#FF1A00;
			}
			label.error {
				display: block;
			}
		}
		&.change {
			input {
				border:1px solid#83BE19;
			}
			label.change {
				display: block;
			}
		}
		&.sucses {
			input {
				border:1px solid #8BBCDC;
			}
			label.sucses {
				display: block;
			}
		}
		&.activesms {
			input {
				border:1px solid#83BE19;
			}
			label.sms {
				display: block;
			}
		}
	}

	:-moz-placeholder {color:rgba(#707070, 0.5);font-family: 'Rubik', sans-serif;font-size:16px;}
	::-moz-placeholder {color:rgba(#707070, 0.5);font-family: 'Rubik', sans-serif;font-size:16px;}
	:-ms-input-placeholder {color:rgba(#707070, 0.5);font-family: 'Rubik', sans-serif;font-size:16px;}
	::-webkit-input-placeholder {color:rgba(#707070, 0.5);font-family: 'Rubik', sans-serif;font-size:16px;}
}
label.sms {
	display: none;
	position: absolute;
	left: 10px;
	top:-5px;
	background:#fff;
	color:#83BE19;
	font-size: 12px;
}
.inp {
	display: block;
		width: 100%;
		padding: 20px;
		box-sizing:border-box;
		background:#FBFBFB;
		color:#707070;
		font-size: 16px;
		border:1px solid #8BBCDC;
		border-radius: 5px;
}
.btn {
		display: block;
		width: 100%;
		padding: 25px 0;
		background: #0690C8;
		border-radius: 5px;
		color:#fff;
		&:hover, &:focus {
			background: #28B5EE;
		}
		&:active {
			background:#18789F;
		}
}
.btn2 {
	display: block;
	width: 221px;
	margin:18px auto 0;
	padding: 12px 0;
	border:1px solid #61AAF3;
	border-radius: 5px;
	font-size: 14px;
	color:#434343;
	&:hover, &:focus {
		background:#0690C8;
		color:#fff;
	}
	&:active {
		background:#18789F;
	}
}
.btn270 {
	width: 270px;
	max-height: 60px;
	margin: 30px auto 0;
}
.info {
	.flex;
	position: relative;
	width: 284px;
	margin:30px auto 0;
	padding: 20px;
	background:rgba(#60B400, 0.06);
	border:1px solid rgba(#60B400, 0.3);
	border-radius: 5px;
	font-size: 14px;
	color:#434343;
	text-align: center;
	img {
		max-width: 20px;
		margin-right: 10px;
	}
}
.flexGroup {
	margin-top: 48px;
	font-size: 14px;
	color:#434343;
	.flex(center);

	.btn2 {
		width: 180px;
		margin: 0 0 0 27px;
	}
}
.inpPassw {
	.inp;
}
.input__wrap_password {
	input {
		border:1px solid#83BE19;
	}
	label{
		position: absolute;
		left: 10px;
		top:-5px;
		background:#fff;
		color:#83BE19;
		font-size: 12px;
	}
}

/*-------------------END MAIN----------------------------------------*/

/*+++++++++++++++++++START FOOTER +++++++++++++++++++++++++++++++++++*/
footer {

}
/*~~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "media.less";